@model LibraryManager.Models.Category
<style>
    #partialDiv span{
        float:left;
        margin:1px;
    }
    #txt1 {
        width:174px;
        height:25px;
    }
    #txt2 {
        width:183px;
        height:25px;
    }
</style>
@*@using(Ajax.BeginForm(
                 "SaveCategory", "Manager", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId = "MainContent", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "Post" // <-- HTTP method
                 }))
{
<div id="partialDiv"> 
    <span>@Html.TextBoxFor(model => model.CategoriesName)</span>
    <span>
        <input type="submit" value="Save"/>
    </span>
    <span><button id="loginBtn">save 2</button></span>
</div>
}*@

<div id="partialDiv"> 
    <span>@Html.TextBoxFor(model => model.CategoriesName, new { id="txt"})</span>
    
</div>
<span>
        @Ajax.ActionLink("Save",
                 "SaveCategory", "Manager", new {CategoriesName="txt" }, // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId = "MainContent", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "Post" // <-- HTTP method
                 },null)</span>
@section scripts{
@*    <script>
    $('#loginBtn').click(function() {
    // TODO: Validate input

    var data = {
        username: $('#CategoriesName').val().trim(),
    };

    $.ajax({
        type: "POST",
        url: "/Manager/SaveCategory",
        content: "application/json; charset=utf-8",
        dataType: "json",
        data: { CategoriesName: data },
        type: 'POST',
        success: function (data) {
            if (d.success == true)
                alert(data);
            else {}
        },
        error: function (xhr, textStatus, errorThrown) {
            // TODO: Show error
        }
    });
    });
        </script>*@
 
    
}

 