@{
    ViewBag.Title = "MyTest";
    //Layout = "~/Views/Shared/_MyLayout.cshtml";
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>jqGrid Example Part 1</title>
<link href="~/Content/jquerry-ui/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
<link href="~/Content/Jquerry-grid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery-grid/grid.locale-en.js"></script>
<script src="~/Scripts/jquery-grid/jquery.jqGrid.min.js"></script>
 
<script type="text/javascript">
    // the url to make the Ajax calls
    var jqDataUrl = "Ajax/LoadjqData";
    $(document).ready(function () {

        // Set up the jquery grid
        $("#jqTable").jqGrid({
            // Ajax related configurations
            url: jqDataUrl,
            datatype: "json",
            mtype: "POST",

            // Specify the column names
            colNames: ["Id", "Name", "Score", "Enrollment"],

            // Configure the columns
            colModel: [
            { name: "Id", index: "Id", width: 40, align: "left" },
            { name: "Name", index: "Name", width: 100, align: "left" },
            { name: "Score", index: "Score", width: 200, align: "left" },
            { name: "Enrollment", index: "Enrollment", width: 200, align: "left" }],

            // Grid total width and height
            width: 550,
            height: 200,

            // Paging
            toppager: true,
            pager: $("#jqTablePager"),
            rowNum: 5,
            rowList: [5, 10, 20],
            viewrecords: true, // Specify if "total number of records" is displayed

            // Default sorting
            sortname: "Id",
            sortorder: "asc",

            // Grid caption
            caption: "A Basic jqGrid - Read Only"
        }).navGrid("#jqTablePager",
            { refresh: true, add: false, edit: false, del: false },
                {}, // settings for edit
                {}, // settings for add
                {}, // settings for delete
                { sopt: ["cn"] } // Search options. Some options can be set on column level
         );
    });
</script>
</head>
 
<body>
    <div>
        <table id="jqTable" class="scroll"></table>
        <div id="jqTablePager" />
    </div>
</body>
</html>

