@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_MyLayout1.cshtml";
}
<link href="~/Content/ManagerStyle.css" rel="stylesheet" />
<button>Add new account</button>
<table>
    <tr>
        <th>NumID</th>
        <th>UserID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>001</td>
        <td>HueLD</td>
        <td>Luân Đức Huê</td>
        <td>Logout</td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
    </tr>
</table>
