@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_MyLayout1.cshtml";
}

<link href="~/Content/ManagerStyle.css" rel="stylesheet" />
<button value="Create">Add book</button>
<table>
    <tr>
        <th>BookID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Review</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>001</td>
        <td>Old Macdonald Had Zoo</td>
        <td>3</td>
        <td><a href="#">Review</a></td>
        <td><a href="#">Edit</a></td>
        <td><a href="#">Delete</a></td>
    </tr>
</table>
