@{
    ViewBag.Title = "BooksSignedByMusicians";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
 <div class="bookItemBox">
     <p class="bookTitle">Old Macdonald Had a Zoo</p>
     <div>
     <img src="~/Images/greendale-neil-young.jpg" alt="image Gruffalo in Scots" class="bookItemPicture"/></div>
     <div>
         Music is the soundtrack to our memories and one of life’s great pleasures.
         And the people who write, sing and play live a rollercoaster existence in 
         the glare of the public eye. These stars suffer heartbreak and heartache,
         personal tragedies, drug and alcohol addiction, in-fighting and real fighting,
         financial woes despite earning a fortune, and the odd loneliness of life on the road.
         These books are fascinating reads and signed too.</br>

         Whatever you are listening to, there's a book here for you. 
         From the epic book-version of Neil Young's multimedia masterpiece 
         Greendale and the musings of Police front-man Sting to words of wisdom from
         ex-Beatles George Harrison and Paul McCartney, these autographed editions make
         great gifts or a unique addition to your own collection. 
         If rock 'n' roll isn't your cup of tea, we have equally engrossing tales from
         pop stars like Davy Jones, Brian Wilson and Madonna, Motown divas like Gladys Knight,
         Diana Ross and Martha Reeves, and many more.<br />

         Get to know the minds behind the music you love with these special, autographed copies.
     </div>
     </div>
