@{
    ViewBag.Title = "Gruffalo";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

 <div class="bookItemBox noBGColor">
     <p class="bookTitle">The Gruffalo in Scots</p>
     <div>
     <img src="/Images/GRUS_childrenBook.jpg" alt="image Gruffalo in Scots" class="bookItemPicture"/></div>
     <div>
         Carries EU Toy Safety Directive 'Unsuitable for children ages 0-3' warning logo.
                     Roll up, roll up! Read all about it! Elderly farmer wins lottery! Old MacDonald,
                     of MacDonald's Farm, is the talk of the cattle market and the most eligible pensioner                
                     in the paddock. With wellington boots, a jaunty flat cap and a spanking new
                     muck-thrower topping his shopping list, lottery winner Old MacDonald has one million
                     pounds burning a hole in his dungarees. He just needs to find the right things to spend it on...
                     Find out what happens when Old MacDonald wins the lottery, 
                     sells his farm and buys a zoo. And what a zoo it is...with plenty of fun antics to discover by lifting all the flaps.
                     Old MacDonald had a zoo, ee aye, ee aye, whooooooaaaahhhhh! 
                     "Old MacDonald had a Zoo is terrific!" Lorraine Kelly
     </div>
     </div>
    

