@{
    ViewBag.Title = "OldMacdonaldHadZoo";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
 <div class="bookItemBox">
     <p class="bookTitle">Old Macdonald Had a Zoo</p>
     <div>
     <img src="/Images/OLM2.jpg" alt="image Gruffalo in Scots" class="bookItemPicture"/></div>
     <div>
         Belinda was back!<br />
         My sister Roa was thrilled. But I was horrified. I thought we'd seen the last of that awful alien!<br />
         "Oh brave and noble Captain," I groaned to my father, 
         "Why have Belinda's parents brought her back?"<br />
         He sighed. "Belinda liked our spaceship so much that she begged to come on holiday with us. 
         And her parents agreed."<br />
         "Hah! I bet they did!" I muttered...
     </div>
     </div>

